<div class="row-fluid">
  <%= simple_form_for @bookmark, :html  => { :class  => 'form-vertical' } do |f| %>
    <%= render :partial  => "/shared/form_error", :locals  => {:f  => f} %>

    <%= f.input :url %>
    <%= f.input :title %>
    <%= f.input :description, :as  => :text, :input_html  => {:class  => "span12"} %> 

    <%= f.input :tags %>

    <div class="form-actions">
      <%= f.button :submit, :class  => "btn-primary" %>
      <%= link_to "Cancel", url_for(:back), :class  => "btn" %>
    </div>
  <% end %>
</div>
