<%= simple_form_for @quote do |f| %>
  <%= render :partial  => "/shared/form_error", :locals  => {:f  => f} %>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :author %>
    </div>
  </div>

  <div class="row">
  <div class="col-lg-4">
    <%= f.input :source %>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <%= f.input :source_url %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <%= f.input :quotation, :as  => :text, :input_html  => {rows: 13} %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= f.input :lang, :collection  => Language.supported, :label_method  => :name, :value_method  => :iso_code, input_html: {class: "col-lg-3"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <%= f.input :tags, input_html: {class: "col-lg-4", value: @quote.tags.nil? ? nil : @quote.tags.join(",")} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class  => "btn btn-primary" %> 
    <button class="btn btn-default"><%= link_to "Cancel", url_for(:back) %></button>
  </div>
<% end -%>
