<div class="row-fluid">
  <%= simple_form_for @quote do |f| %>
    <%= render :partial  => "/shared/form_error", :locals  => {:f  => f} %>

    <%= f.input :author %>

    <%= f.input :source %>

    <%= f.input :source_url %>

    <%= f.input :quotation, :as  => :text, :input_html  => {:class  => "span12"} %> 

    <%= f.input :lang, :collection  => Language.supported, :label_method  => :name, :value_method  => :iso_code %>

    <%= f.input :tags %>

    <div class="form-actions">
      <%= f.button :submit, :class  => "btn-primary" %>
      <%= link_to "Cancel", url_for(:back), :class  => "btn" %>
    </div>
  <% end -%>
</div>
