<div class='<%= "#{presenter.model.class.to_s.downcase}-metadata" %> row-fluid'>
  <div class="span8">
    <% if presenter.private? %>
      <i class="icon-lock"></i>
    <%  end %>
    <%= presenter.created_at %>
    <%= presenter.updated_at %>
    <%= presenter.view_count %>
  </div>
  <div class="tags pull-right">
    <% if presenter.tags? %>
      <i class="icon-tags"></i>
      <% presenter.tags.each_with_index do |tag, idx| %>
        <%= link_to tag, "#{url_for(presenter.model.class)}?tag=#{tag}", :rel  => "tag" %><%= render_comma(presenter.tags, idx) %>
      <% end %>
    <% end %>
  </div>
</div>

