<div class="row-fluid">
  <%= simple_form_for @page, :html  => { :class  => 'form-vertical' } do |f| %>
    <% if f.error_notification %>
      <div class="alert alert-block alert-error fade in" data-alert="alert">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p><%= f.error_notification %></p>
      </div>
    <% end %>

    <%= f.input :name %>

    <%= f.input :markup, :collection  => Page.supported_markups %>

    <%= f.input :raw_data, :as  => :text, :input_html  => {:class  => "span12"} %> 

    <div class="form-actions">
      <%= f.button :submit, :class  => "btn-primary" %>
      <%= link_to "Cancel", url_for(:back), :class  => "btn" %>
    </div>
  <% end %>
</div>
