<div class="row-fluid">
  <% if @search %>
    <form action="<%= pages_path %>" method="get">
      <select id="tags" name="tags[]" multiple>
        <% @search.tags.each do |tag| %>
          <option value="<%= tag %>" selected><%= tag %></option>
        <% end %>
      </select>
      <input type="submit" value="Filter" class="btn btn-small"/>
    </form>

    <h3>Pages tagged with <%= @search.search_tags %></h3>
  <% end %>
  <ul>
    <% @pages.each do |page| %>
      <% if current_or_guest_user.can_read?(page) %>
        <li><%= link_to page.name, page %></li>
      <% end %>
    <% end %>
  </ul>
</div>
