<% content_for(:page_title) { @page.title } %>
<div class="row">
  <article class="page-data col-lg-12">
    <%= @page.header %>
    <%= @page.data.html_safe %>
  </article>
</div>

<%= render :partial  => 'shared/metadata', :locals  => {:presenter => @page} %>


<% if @page.updatable? || @page.deletable?  %>
  <div class="form-actions row">
    <% if @page.updatable? %>
      <%= link_to 'Edit page', edit_page_path(@page.model), :rel  => "edit-page", :class  => "btn btn-info btn-sm", :alt  => "Edit", :title  => "Edit" %>
    <% end %>
    <% if @page.deletable? %>
      <%= link_to 'Delete page', @page.model, :rel  => 'delete-page', :method  => :delete, :data  => {confirm:  "Are you sure?"}, :class  => "btn btn-danger btn-sm", :alt  => "Delete" %>
    <% end %>
  </div>
<% end %>

