<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "川" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render "shared/nav" %>
    <div class="row-fluid">
      <div class="span10">
        <div class="container-fluid main">
          <div class="row-fluid">
            <%=  (render_crumbs :format  => :html_list, :ul_class  => 'breadcrumb', :active_li_class  => 'active', :separator  => "<span class='divider'>/</span>").html_safe%>

            <% if notice or flash[:error] %>
              <% css_class = notice ? 'success' : 'error' %>
              <% message = notice ?  notice : flash[:error] %>
              <div class="alert <%= css_class %> fade in" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <div class="span2">
        <div class="well">
          <%= render :partial  => "shared/sidebar" %>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
