<!DOCTYPE html>
<html>
<head>
  <title>Kawa</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <div class="navbar navbar-static">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand">Kawa</a>
            <ul class="nav">
              <li class="active"><%= link_to 'Pages', pages_path %></li>
            </ul>
            <form action="" class="form-search navbar-search pull-left">
              <input type="text" class="search-query span-2" placeholder="Search" />
            </form>
          </div>
        </div>
      </div>
  </header>
  <div class="fluid-container">
    <%=  (render_crumbs :format  => :html_list, :ul_class  => 'breadcrumb', :active_li_class  => 'active', :separator  => "<span class='divider'>/</span>").html_safe%>
    <%= yield %>
  </div>
</body>
</html>
