<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "川" %></title>
  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/nav" %>
  <div class="container container-full">
    <div class="row">
      <div class="col-lg-10">
        <div class="container main">
          <div class="row">
            <%=  render_crumbs format: :html_list, ul_class: 'breadcrumb', active_li_class: 'active'  %>

            <% if notice or flash[:error] %>
              <% css_class = notice ? 'success' : 'error' %>
              <% message = notice ?  notice : flash[:error] %>
              <div class="alert alert-warning <%= css_class %> fade in" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="container">
          <%= yield %>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="well sidebar">
          <%= render :partial  => "shared/sidebar" %>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <% if content_for?(:javascript) %>
    <script type="text/javascript">
     <%= yield(:javascript) %> 
    </script>
  <% end %>
</body>
</html>
